body {
  background-color: #dd7cea;
  max-width: 700px;
  margin: auto;
}
h1,
h2 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}
p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.header {
  background-color: white;
  padding: 40px;
  margin-top: 60px;
}
.header h2 {
  font: 150px;
}
.dictionary {
  background-color: white;
  padding: 40px;
  margin-top: 40px;
}
.form {
  margin-top: 5px;
}
.search-input {
  border: none;
  border-bottom: 4px solid #dd7cea;
  outline: none;
  margin: 15px;
  width: 400px;
}
.search-button {
  margin-left: 46px;
  padding: 16px 30px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  background-color: #dd7cea;
  color: white;
  border: 2px solid #dd7cea;
  border-radius: 100px;
}
.search-button:hover {
  color: #dd7cea;
  background-color: white;
}
.word-example {
  border-left: 4px solid #dd7cea;
  margin-left: 25px;
  padding-left: 10px;
}
.synonyms {
  color: #dd7cea;
}
