body {
  background-color: #dd7cea;
}
h1 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}
p {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}
.dictionary {
  background-color: white;
  padding: 30px;
  margin: 50px;
  max-width: 650px;
}
